{% extends 'base.html' %}

{% block content %}
    <p>DATA: 19.05.2024</p>
    <h1>How do I gain access once I've joined?</h1>
    <p>Welcome to the Club! Please check your email for the invitation to the Club Fitness + app. This is how you’ll access the club, build workouts, and so much more! </p>
    <h1>What if I don’t know what to do at the gym?</h1>
    <p>Not sure what to do when you are at the gym? We can help with that! Every Club Fitness member gets a complimentary Wellness Assessment. This plan is a road map designed to help you to reach your goals, and includes expert instruction.</p>
     <h1>How do I change or update my billing information?</h1>
    <p>You may update information for each member in person at any location or by logging into each account online. You must register each account first to access each account online.</p>
{% endblock %}
    <h2>How do I gain access once I've joined?</h2>
  <p>Last name: {{ employee.last_name }}</p>
    <h2>statistics</h2>
<form method="post" enctype="multipart/form-data">
        <img src = "https://www.google.com/url?sa=i&url=https%3A%2F%2Ffayngor.ru%2Fblog%2Fstatistika-polzovatelej-interneta-v-mire-v-2022%2F&psig=AOvVaw1AcHU6uoazn_4VRjE91GE3&ust=1716288842342000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCKC86K2InIYDFQAAAAAdAAAAABAD"  >
    </form>
