<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <p>В американском штате Флорида полицейские поймали возле одного из жилых домов трехметрового аллигатора. Подробности борьбы стражей правопорядка с животным 25 июля раскрыла газета The New York Post.</p>
</head>
<body>

</body>
{% if user.is_authenticated %}
        <a href="{% url 'news1' %}">Читать далее</a>
    <p> Минск /Корр. БЕЛТА/. Станция метро "Площадь Победы" в Минске закрыта на вход и выход в связи с проведением торжественного мероприятия, сообщили БЕЛТА в столичной подземке.</p>
        <a href="{% url 'news2' %}">Читать далее</a>
    {% else %}
    {% endif %}
</html>