{% extends 'base.html' %}

{% block content %}
<form>
    <h1>Promotions</h1>
    <ul>
        <li>5% for pool in Vitebsk - 5$</li>
        <li>10% for pool in Minsk - 8$</li>
        <li>5% for pool in Brest - 5$</li>
        <li>10% for pool in Grodno - 7$</li>
        <li>15% for pool in Gomel - 10$</li>
        <li>5% for fitness in Vitebsk - 10$</li>
        <li>10% for fitness in Gomel - 8$</li>
        <li>15% for fitness in Minsk - 8$</li>
        <li>5% for fitness in Brest - 5$</li>
        <li>15% for fitness in Grodno - 6$</li>
    </ul>
</form>

{% endblock %}