{% extends 'base.html' %}

{% block content %}
<form>
    <h1>Work</h1>
    <ul>
        <li>coach in Vitebsk - 200$</li>
        <li>coach in Minsk - 200$</li>
        <li>coach in Brest - 290$</li>
        <li>coach in Grodno - 270$</li>
        <li>coach in Gomel - 200$</li>
        <li>pool rescuer in Vitebsk - 260$</li>
        <li>pool rescuer in Gomel - 250$</li>
        <li>cpool rescuer in Minsk - 140$</li>
        <li>pool rescuer in Brest - 350$</li>
        <li>pool rescuer in Grodno - 150$</li>
    </ul>
</form>


{% endblock %}